<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>传感云</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
        <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    </head>
    <body>
        <a id="scroll-to-top">
            <span class="fa fa-chevron-up fa-lg"></span>
        </a>
        <div style="width:100%; background:#fff; height:90px;">
            <div class="navbox">
                <a href="" class="nav-brand">
                    <img src="../static/images/logo.jpg"></a>
                <div class="pull-right login-btn">
                    <a class="btn btn-primary">登录</a>
                    <a class="btn btn-default">注册</a>
                </div>
                <ul class="nav-list pull-right">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <a href="case.html">案例展示</a>
                    </li>
                    <li>
                        <a href="product.html">产品中心</a>
                    </li>
                    <li>
                        <a href="pro-share.html">项目分享</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="container-fluid" style="background:#f8f8f8; border-top:1px solid #e2e2e2;">
            <div class="container">
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-info">桥梁云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case01.jpg">
                    </div>
                    <div class="case-cont pull-left">
                        <h2>无锡蓉湖大桥</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">风速风向</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-warning">家庭云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case02.jpg"></div>
                    <div class="case-cont pull-left">
                        <h2>房屋地基振动变化监测</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                         
                            <a href="javascript:void(0);" class="label label-default">风速风向</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-primary">铁路云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case03.jpg"></div>
                    <div class="case-cont pull-left">
                        <h2>铁路波动变化监测</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">风速风向</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-danger">公路云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case04.jpg"></div>
                    <div class="case-cont pull-left">
                        <h2>公路裂缝变化监测</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-success">勘测云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case05.jpg"></div>
                    <div class="case-cont pull-left">
                        <h2>石油平台倾角变化勘测</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
                <div class="case-list">
                    <div class="case-name pull-left">
                        <span class="label label-status label-default">交通云</span>
                    </div>
                    <div class="case-img pull-left">
                        <img src="../static/images/case06.jpg"></div>
                    <div class="case-cont pull-left">
                        <h2>交通路段监测</h2>
                        <p class="case-text"><b>类型</b>&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="label label-default label-name">风速</a>
                            <a href="javascript:void(0);" class="label label-default">振动</a>
                            <a href="javascript:void(0);" class="label label-default">索力</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                            <a href="javascript:void(0);" class="label label-default">应变</a>
                            <a href="javascript:void(0);" class="label label-default">沉降</a>
                        </p>
                        <p><b>简介</b>&nbsp;&nbsp;方程式Formula原意是惯例，常规；准则，方案。赛车必须依照国际汽车联合会制定发动机工作容积车，就是方程式赛程式汽车赛。</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="foot">
            <div class="container">
                <a href="javascript:void(0);">公司网站</a> 
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>
                    地址：    北京市上地东路盈创动力大厦E座801座
                    <br/>                            
                    电话：    010-5885 6680
                    <br/>                            
                    传真：    010-5885 6685
                    <br/>                            
                    邮箱：    contact@smartbow.net
                    <br/>                            
                </p>
                <p>
                    地址：    江苏省无锡市滨湖区建筑西路777号A3号楼3层
                    <br/>                            
                    电话：    0510-81801999
                    <br/>                            
                    传真：    0510-818019998
                    <br/>                            
                    邮箱：    contact@smartbow.net
                    <br/>                            
                </p>
            </div>
        </div>

        <script src="../static/js/jquery.lazyload.js"></script> <!-- 延迟加载图片 -->
        <script>
            $(window).on('scroll', function(){
                var top  = $(this).scrollTop(),
                    $btn = $('#scroll-to-top');

                if (top === 0) {
                    $btn.removeClass('visible');
                } else {
                    $btn.addClass('visible');
                }
            });

            $('#scroll-to-top').on('click', function(){
                $('html, body').animate({
                    scrollTop: '0px'
                });
            });

            $(document).ready(function(){
                $("img.lazy").lazyload({effect: "fadeIn"});
            });
        </script>
    </body>
</html>