

<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="vsq3qj4nuETYJimo3hpB8Ag7ngPxwc303VeGHWKmDvw" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Basic -->
  <meta charset="utf-8">
  <title>SensorCloud™</title>
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="LORD MicroStrain’s SensorCloud is a unique sensor data storage, visualization and remote management platform that leverages powerful cloud computing technologies to provide excellent data scalability, rapid visualization, and user programmable analysis.">
  <meta name="author" content="LORD MicroStrain Sensing Systems">

  <link rel="icon" href="http://www.sensorcloud.com/static/img/favicon.ico" type="image/x-icon" />

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/bootstrap.css">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/vendor/owl-carousel/owl.carousel.css" media="screen">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/vendor/owl-carousel/owl.theme.css" media="screen">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/vendor/magnific-popup/magnific-popup.css" media="screen">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/theme.css">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/theme-elements.css">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/theme-animate.css">

  <!-- Current Page Styles -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/vendor/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/vendor/circle-flip-slideshow/css/component.css" media="screen">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/skins/lord.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/custom.css">
  
  <!-- Slippry CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/slippry.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/theme-responsive.css" />

  <!-- Head Libs -->
  <script src="http://www.sensorcloud.com/static/vendor/modernizr.js"></script>

  <!--[if IE]>
    <link rel="stylesheet" href="http://www.sensorcloud.com/static/css/ie.css">
  <![endif]-->

  <!--[if lte IE 8]>
    <script src="http://www.sensorcloud.com/static/vendor/respond.js"></script>
  <![endif]-->

</head>
<body>
    <div class="body"> 
        <header>
            <div class="container">
                <h1 class="logo">
                    <a href="/">
                        <img id="sensorcloudLogo" alt="SensorCloud" width="475" height="89" data-sticky-width="237" data-sticky-height="44" src="http://www.sensorcloud.com/static/img/logos/sc_powered_logo.png">
                    </a>
                </h1>
                <nav>
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="about_us"><i class="icon icon-angle-right"></i>About Us</a>
                        </li>
                        <li>
                            <a href="contact_us"><i class="icon icon-angle-right"></i>Contact Us</a>
                        </li>
                        <li class="phone">
                            <span><i class="icon icon-phone"></i>1 (802) 862-6629</span>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="icon icon-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="pricing">Pricing</a>
                            </li>
                            <li>
                                <a href="mathengine">MathEngine</a>
                            </li>
                            <li>
                                <a href="documentation">Documentation</a>
                            </li>
                            <li>
                              <a href="https://sensorcloud.microstrain.com/SensorCloud/login/">Sign In</a>
                            </li>
                          </ul>
                    </nav>
                </div>
           </div>
        </header>
      
                        <div role="main" class="main">
<!--content_begin-->
            <div id="content" class="content full">
                                <div class="slider-container">
                                        <div class="slider" id="revolutionSlider">
                                                <ul>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" >
                                <img src="http://www.sensorcloud.com/static/img/slides/copter_large.jpg" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat" style="display: none;">
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="125"
                                                                         data-y="500"
                                                                         data-speed="800"
                                                                         data-start="100"
                                                                         data-easing="easeOutExpo">Attitude</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="160"
                                                                         data-y="550"
                                                                         data-speed="800"
                                                                         data-start="300"
                                                                         data-easing="easeOutExpo">Heading</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="260"
                                                                         data-y="400"
                                                                         data-speed="800"
                                                                         data-start="500"
                                                                         data-easing="easeOutExpo">GPS</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="300"
                                                                         data-y="450"
                                                                         data-speed="800"
                                                                         data-start="700"
                                                                         data-easing="easeOutExpo">Torque</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="350"
                                                                         data-y="500"
                                                                         data-speed="800"
                                                                         data-start="900"
                                                                         data-easing="easeOutExpo">Vibration</div>
                            </li>
                                                <li data-transition="fade" data-slotamount="1" data-masterspeed="500" >
                                                        <img src="http://www.sensorcloud.com/static/img/slides/excavator-bg.jpg" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat" style="display: none;">
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="402"
                                                                         data-y="250"
                                                                         data-speed="800"
                                                                         data-start="100"
                                                                         data-easing="easeOutExpo">Load</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="375"
                                                                         data-y="300"
                                                                         data-speed="800"
                                                                         data-start="300"
                                                                         data-easing="easeOutExpo">Pressure</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="395"
                                                                         data-y="350"
                                                                         data-speed="800"
                                                                         data-start="500"
                                                                         data-easing="easeOutExpo">Strain</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="373"
                                                                         data-y="400"
                                                                         data-speed="800"
                                                                         data-start="700"
                                                                         data-easing="easeOutExpo">Vibration</div>
                                                </li>
                                                        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" >
                                <img src="http://www.sensorcloud.com/static/img/slides/combine-bg.jpg" data-bgfit="cover" data-bgposition="top" data-bgrepeat="no-repeat" style="display: none;">
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb" 
                                                                         data-x="50"
                                                                         data-y="75"
                                                                         data-speed="800"
                                                                         data-start="100"
                                                                         data-easing="easeOutExpo">Humidity</div>
                                 <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="100"
                                                                         data-y="125"
                                                                         data-speed="800"
                                                                         data-start="300"
                                                                         data-easing="easeOutExpo">Temperature</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="150"
                                                                         data-y="175"
                                                                         data-speed="800"
                                                                         data-start="500"
                                                                         data-easing="easeOutExpo">Soil Moisture</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-darkBlue sft stb"
                                                                         data-x="200"
                                                                         data-y="225"
                                                                         data-speed="800"
                                                                         data-start="700"
                                                                         data-easing="easeOutExpo">Solar Radiation</div>
                            </li>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" >
                                <img src="http://www.sensorcloud.com/static/img/slides/assembly-bg.jpg" data-bgfit="cover" data-bgposition="center" data-bgrepeat="no-repeat" style="display: none;">
                                

                                <div class="tp-caption scSlide-caption-bg sft stb"
                                     data-x="700"
                                                                         data-y="300"
                                                                         data-speed="800"
                                                                         data-start="100"
                                                                         data-easing="easeOutExpo"></div>

                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="759"
                                                                         data-y="300"
                                                                         data-speed="800"
                                                                         data-start="100"
                                                                         data-easing="easeOutExpo">Power</div>
                                
                                 <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="768"
                                                                         data-y="350"
                                                                         data-speed="800"
                                                                         data-start="300"
                                                                         data-easing="easeOutExpo">Load</div>
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="705"
                                                                         data-y="400"
                                                                         data-speed="800"
                                                                         data-start="500"
                                                                         data-easing="easeOutExpo">Displacement</div>                               
                                
                                <div class="tp-caption scSlide-caption scCaption-white sft stb"
                                                                         data-x="708"
                                                                         data-y="450"
                                                                         data-speed="800"
                                                                         data-start="700"
                                                                         data-easing="easeOutExpo">Temperature</div>
                                
                            </li>
                                                </ul>
                                        </div>
                                </div>

                <div id="scOverviewContainer" class="container">
                    <div class="row">
                        <div class="col-md-12 center-text lead">
                            <br/>
                            <span class="tagline">Your data, anywhere. Instantly.</span>
                        </div>
                    </div>
                    
                                    <div class="row featured-boxes hidden-xs">
                        <div class="col-md-3 col-sm-6">
                            <div class="featured-box featured-box-primary linkToContent">
                                <div class="box-content" id="upload_link">
                                    <i class="icon-featured icon icon-cloud-upload"></i>
                                                                        <h4>Acquire</h4>
                                                                        <p>Getting data to SensorCloud<br/>is simple.<br/><br/></p>
                                                                </div>
                                                        </div>
                                                </div>
                        <div class="col-md-3 col-sm-6 hidden-xs">
                                                        <div class="featured-box featured-box-secundary linkToContent">
                                                                <div class="box-content" id="visualize_link">
                                                                        <i class="icon-featured icon icon-bar-chart-o"></i>
                                                                        <h4>Visualize</h4>
                                                                        <p>View large data sets instantly with FastGraph.<br/><br/></p>
                                                                </div>
                                                        </div>
                                                </div>
                        <div class="col-md-3 col-sm-6 hidden-xs">
                                                        <div class="featured-box featured-box-tertiary linkToContent">
                                                                <div class="box-content" id="monitor_link">
                                                                        <i class="icon-featured icon icon-warning"></i>
                                                                        <h4>Monitor</h4>
                                                                        <p>Set custom alerts to monitor mission-critical systems.<br/><br/></p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 hidden-xs">
                                                        <div class="featured-box featured-box-quaternary linkToContent">
                                                                <div class="box-content" id="analyze_link">
                                                                        <i class="icon-featured icon icon-cogs"></i>
                                                                        <h4>Analyze</h4>
                                                                        <p>Harness powerful scientific tools to process and report on data.</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                    <div class="row">
                        <div class="col-md-12 center-text">
                            <a id="homePageSignUpBtn" class="btn btn-lg btn-primary" href="https://sensorcloud.microstrain.com/SensorCloud/signup/">Sign Up for Free</a>
                            <p class="sign-up-info center-text">
                                Already have an account?
                                <a href="https://sensorcloud.microstrain.com/SensorCloud/login/">Sign In!</a>
                            </p>
                        </div>
                    </div>
                                </div>

                <div id="upload_section" class="section-full-width">
                  <div class="container"> <!-- Upload Section -->
                    <div class="callout-white callout-left"></div>
                    <h1 class="callout-title"><strong>Acquire</strong> and Upload Data</h1>   
                      <div class="row">
                        <div class="col-md-6 col-sm-6">               
                          <p class="lead sc-lead">
                            <br />Easily upload any data using our <a id="wsdaLink" href="https://github.com/LORD-MicroStrain/SensorCloud">Open Data API</a> and CSV Uploader.<br /><br /><br />
                            Support for automatically uploading from LORD MicroStrain's wireless and wired sensors.<br /><br /><br />
                            All data transactions are encrypted and secure.
                          </p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <img src="http://www.sensorcloud.com/static/img/upload_graphic.png" id="upload_graphic" class="img-responsive pull-right hidden-xs ">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                          <!--img src="http://www.sensorcloud.com/static/img/upload_graphic.png" id="upload_graphic_sm" class="img-responsive visible-lg"-->
                          <img src="http://www.sensorcloud.com/static/img/upload_graphic.png" id="upload_graphic_xs" class="img-responsive visible-xs">
                        </div>
                      </div>
                  </div> 
                </div> <!-- Close Upload Section -->

                <div id="visualizeCalloutContainer" class="container">
                    <div class="callout-red callout-right"></div>
                    <h1 id="visualizeCalloutTitle" class="callout-title callout-title-right"><strong>Visualize</strong> All of Your Data</h1>
                </div>
                    
                <div id="slippry_container" class="sc-slippry-container">
                    <ul id="demo_slider">
                        
                        
                        <li id="demo_slider_1" class="demoSliders">
                            <div class="graph-xs-container">
                                <a href="javascript:void(0)" class="iframe-slide"><img class="graph-xs-img" src="http://www.sensorcloud.com/static/img/graph_demo_vineyard.png" alt="Run filters on your data to find meaningful information."></a>
                                <div class="graph-xs-title">
                                    <h2>Run Filters on Your Data</h2>
                                    <a href="https://sensorcloud.microstrain.com/SensorCloud/data/OAPI00LTW25BBJQG/js/?ch=Demo(Vibration,HighPass100Hz,LowPass100Hz)" class="graph-xs-btn btn btn-default">View Demo</a>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="iframe-slide"></a>
                            <div class="sc-frame-block hidden-xs"><h3><a class="btn btn-primary btn-lg">Click to interact</a></h3></div>
                            <iframe class="sc-frame hidden-xs" id="iframe1" src="about:blank" frameBorder="0"></iframe>
                        </li>
                        
                        
                        <li id="demo_slider_2" class="demoSliders">
                            <div class="graph-xs-container">
                                <a href="javascript:void(0)" class="iframe-slide"><img class="graph-xs-img" src="http://www.sensorcloud.com/static/img/graph_demo_map.png" alt="Correlate GPS location with your other data using Google Maps&#0153."></a>
                                <div class="graph-xs-title">
                                    <h2>GPS Data</h2>
                                    <a href="https://sensorcloud.microstrain.com/SensorCloud/data/OAPI00ABFX89SSK0/js/?gps=Flight_DAL101(Map)&ch=Flight_DAL101(Altitude)" class="graph-xs-btn btn btn-default">View Demo</a>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="iframe-slide"></a> 
                            <div class="sc-frame-block hidden-xs"><h3><a class="btn btn-primary btn-lg">Click to interact</a></h3></div>
                            <iframe class="sc-frame hidden-xs" id="iframe2" src="about:blank" frameBorder="0"></iframe>
                        </li>
                        
                        
                        <li id="demo_slider_3" class="demoSliders">
                            <div class="graph-xs-container">
                                <a href="javascript:void(0)" class="iframe-slide"><img class="graph-xs-img" src="http://www.sensorcloud.com/static/img/graph_demo_vibration.png" alt="Visualize massive datasets instantly.<br>(1 Terabyte dataset shown)"></a>
                                <div class="graph-xs-title">
                                    <h2>1 Terabyte of Vibration Data</h2>
                                    <a href="https://sensorcloud.microstrain.com/SensorCloud/data/Z3MFURATHIB8A032/js/?ch=1%28ch1,ch2%29&s=1296819603229459&e=1296930492464636&tz=Eastern" class="graph-xs-btn btn btn-default">View Demo</a>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="iframe-slide"></a>
                            <div class="sc-frame-block hidden-xs"><h3><a class="btn btn-primary btn-lg">Click to interact</a></h3></div>
                            <iframe class="sc-frame hidden-xs" id="iframe3" src="about:blank" frameBorder="0"></iframe>
                        </li>
                    </ul>
                </div>


                                <div id="monitorSection" class="section-full-width">
                                    <div class="callout-white callout-left"></div>
                    <div class="container">
                        <h1 class="callout-title"><strong>Monitor</strong> Your Sensors</h1>
                        <div class="row">
                            <div class="col-md-6 col-sm-7 col-xs-12">
                                <p class="lead sc-lead">
                                Customize alerts to stay informed on your data 24/7.<br/><br/><br/>
                                Alerts can be received via email and SMS messaging.<br/><br/><br/>
                                Add custom information including time, threshold values, and links to the event data.
                                </p>
                            </div>
                            <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 hidden-xs">
                                <img id="worldIcon" class="img-responsive" src="http://www.sensorcloud.com/static/img/world_alert.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-7 col-xs-offset-1">
                                <img id="laptopIcon" class="img-responsive" src="http://www.sensorcloud.com/static/img/alert_icon.png">
                            </div>
                            <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2">
                                <img id="phoneIcon" class="img-responsive" src="http://www.sensorcloud.com/static/img/phone_alert_icon.png">
                            </div>
                        </div>
                        <div class="row hidden-s">
                             <div class="hidden-s visible-xs col-xs-6 col-xs-offset-3">
                                <img id="worldIconXS" class="img-responsive" src="http://www.sensorcloud.com/static/img/world_alert.png">
                            </div>
                        </div>
                    </div>
                                </div> <!-- Close Monitor Section -->
            
                <div id="analyzeSection" class="section-full-width">
                    <div class="callout-brown callout-right"> </div>
                    <div class="container">
                      <h1 class="callout-title callout-title-right"><strong>Analyze</strong> Your Data</h1>
                      <div class="row">
                          <div class="col-md-5 col-sm-6 col-xs-12">
                            <p class="lead sc-lead">
                              With <a href="mathengine">MathEngine</a><sup>&reg;</sup>, you can analyze your data in new, meaningful ways.<br/><br/><br/>
                              Use a simple interface to perform common operations such as FFTs, smoothing, filtering, and interpolation.<br/><br/><br/>
                              Write and deploy custom scripts in the Cloud using IPython and SciPy libraries.
                            </p>
                          </div> 
                          <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                            <img class="img-responsive" src="http://www.sensorcloud.com/static/img/computer_analyze_icons.png"/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                            <img id="waterfall" class="img-responsive" src="http://www.sensorcloud.com/static/img/waterfall.png" alt="Waterfall FFT">
                          </div>
                        </div>
                    </div>

                                </div> <!-- Close Analyze Section -->
      </div> <!-- Close Content -->

    </div> <!-- Close Main -->




    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="contact-details">
              <h4><a href="contact_us">Contact Us</a></h4>
              <ul class="contact">
                <li class="visible-xs hidden-sm"><p><a href="about_us">About Us</a></p></li>
                <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong> 459 Hurricane Lane, Suite 102, Williston, VT 05495 USA</p></li>
                <li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> 1 (802) 862-6629</p></li>
                <li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> support@<span style="display: none">null</span>sensorcloud.com</p></li>
              </ul>
            </div>
          </div>
                    <div class="col-xs-12 col-sm-4">
            <h4>Follow Us</h4>
            <div id="scSocialIcons" class="social-icons">
              <ul class="social-icons">
                <li class="facebook"><a href="http://www.facebook.com/MicroStrainLORD" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                <li class="twitter"><a href="http://www.twitter.com/MicroStrain" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/microstrain-a-lord-company" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                                <li class="github"><a href="https://github.com/LordMicrostrain/SensorCloud" data-placement="bottom" rel="tooltip" title="GitHub">GitHub</a></li>
              </ul>
            </div>
                        <br>
                        <a href="http://files.microstrain.com/LORD_MicroStrain_Privacy_Policy.pdf" target="_blank">Privacy Statement</a>
                        |
                        <a href="http://files.microstrain.com/SensorCloud_Service_Agreement.pdf" target="_blank">Service Agreement</a>
                        <br>
                        &copy; 2015 LORD MicroStrain – All Rights Reserved.
          </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-0">
                        <a href="http://lord.com"><img src="http://www.sensorcloud.com/static/img/logos/LORD-logo.png"></a>
                        <br />
                        <i class="icon icon-angle-right"></i> <a href="sitemap">Sitemap</a>
                        <br />
                        <i class="icon icon-angle-right"></i> <a href="http://www.lord.com/">LORD.com</a>
                        <br />
                        <i class="icon icon-angle-right"></i> <a href="http://www.microstrain.com">MicroStrain.com</a>
                    </div>
          
        </div>
      </div>
    </footer>
    </div> <!-- Close Body -->

  <!-- Libs -->
  <script src="http://www.sensorcloud.com/static/vendor/jquery.js"></script>
  
  <script src="http://www.sensorcloud.com/static/vendor/jquery.easing.js"></script>
  <script src="http://www.sensorcloud.com/static/vendor/jquery.appear.js"></script>
  <script src="http://www.sensorcloud.com/static/vendor/jquery.cookie.js"></script>
  
  <script src="http://www.sensorcloud.com/static/vendor/bootstrap.js"></script>
  <!--script src="http://www.sensorcloud.com/static/vendor/twitterjs/twitter.js"></script-->
  <script src="http://www.sensorcloud.com/static/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script src="http://www.sensorcloud.com/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <!--script src="http://www.sensorcloud.com/static/vendor/owl-carousel/owl.carousel.js"></script-->
  <!--script src="http://www.sensorcloud.com/static/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script-->
  <!--script src="http://www.sensorcloud.com/static/vendor/magnific-popup/magnific-popup.js"></script-->
  <script src="http://www.sensorcloud.com/static/vendor/jquery.validate.js"></script>
  <script src="http://www.sensorcloud.com/static/js/slippry.min.js"></script>

<script src="http://www.sensorcloud.com/static/js/plugins.min.js"></script>
<!-- Current Page Scripts -->
<script src="http://www.sensorcloud.com/static/js/views/view.home.min.js"></script>
<!-- Custom JS -->
<script src="http://www.sensorcloud.com/static/js/custom.min.js"></script> 
<!-- Theme Initializer -->
<script src="http://www.sensorcloud.com/static/js/theme.min.js"></script>

<!-- Google Analytics: Change UA-51882966-1 to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-51882966-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
