<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>传感云</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/unslider.css">
        <link rel="stylesheet" href="../static/css/sequence.css"/>
         <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <a id="scroll-to-top">
            <span class="fa fa-chevron-up fa-lg"></span>
        </a>
        <div style="width:100%; background:#fff; height:90px;">
            <div class="navbox">
                <a href="" class="nav-brand">
                    <img src="../static/images/logo.jpg"></a>
                <div class="pull-right login-btn">
                    <a class="btn btn-primary">登录</a>
                    <a class="btn btn-default">注册</a>
                </div>
                <ul class="nav-list pull-right">
                    <li class="active">
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="case.html">案例展示</a>
                    </li>
                    <li>
                        <a href="product.html">产品中心</a>
                    </li>
                    <li>
                        <a href="">项目分享</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- banner 开始 -->
        <div class="banner has-dots" id="b06" style="width: 100%; height: 650px; overflow: hidden; ">
            <ul style="width: 400%; position: relative; left: -200%; height: 650px; overflow:hidden;">
                <li>
                    <img class="sliderimg"  src="../static/images/carousel1.jpg" alt=""  alt="" width="100%"></li>
                <li>
                    <img class="sliderimg"  src="../static/images/carousel2.jpg" alt=""  alt="" width="100%"></li>
                <li>
                    <img class="sliderimg"  src="../static/images/carousel3.jpg" alt=""  alt="" width="100%"></li>
                <li>
                    <img class="sliderimg"  src="../static/images/carousel4.jpg" alt=""  alt="" width="100%"></li>
            </ul>
            <a href="javascript:void(0);" class="unslider-arrow06 prev">
                <img class="arrow" id="al" src="../static/images/arrowl.png" alt="prev"></a>
            <a href="javascript:void(0);" class="unslider-arrow06 next">
                <img class="arrow" id="ar" src="../static/images/arrowr.png" alt="next"></a>
        </div> <!-- banner 结束 -->

        <div class="container">
            <div class="moudle1">
                <div class="moudle1-title">功能模块</div>
                <div class="moudle1-cont">云平台核心服务、数据及核心价值部分</div>
                <div class="row-fluid" style="padding:0 20px;">
                    <div class="span3">
                        <a  href="#sensor-in" class="circle"> <i class="glyphicon glyphicon-cloud-upload"></i>
                        </a>
                        <h3 class="cont-name text-center">接入</h3>
                        <p class="cont-edit text-center">为每个项目或单位定制，为用户提供传感节点及节点...</p>
                    </div>
                    <div class="span3">
                        <a href="#view" class="circle"> <i class="fa fa-line-chart"></i>
                        </a>
                        <h3 class="cont-name text-center">可视化</h3>
                        <p class="cont-edit text-center">为每个项目或单位定制，为用户提供传感节点及节点...</p>
                    </div>
                    <div class="span3">
                        <a href="#warning" class="circle">
                            <i class="fa fa-warning"></i>
                        </a>
                        <h3 class="cont-name text-center">预警</h3>
                        <p class="cont-edit text-center">为每个项目或单位定制，为用户提供传感节点及节点...</p>
                    </div>
                    <div class="span3">
                        <a href="#analyse" class="circle">
                            <i class="fa fa-connectdevelop"></i>
                        </a>
                        <h3 class="cont-name text-center">分析</h3>
                        <p class="cont-edit text-center">为每个项目或单位定制，为用户提供传感节点及节点...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fulid" style="background:#f5f5f5; margin-top:120px; padding-bottom:50px; overflow:hidden;">
            <div class="container" style="overflow:hidde;">
                <div class="sensor-in" id="sensor-in">
                    <img src="../static/images/label-arrow.png" style="width:91px; height:64px; margin:0 auto; display:block;">
                    <div class="sensor-title" style="width:180px;">传感器的接入</div>
                    <div class="sensor-cont">轻松便捷的安装方式，只需几步就可载入系统</div>
                    <div class="row-fluid ">
                        <div class="span5 sensor-text">
                           <span>只 </span>需一个USB网关，一台笔记本电脑以及相应的HCF传感器，就可用来快速部署成一个低成本的中小规模检测网络进行检测工作既不需要部署电力和通信线缆，也不需要笨重而又复杂的数据采集工控机节点，时间、人力成本都可大大降低！ 
                        </div>
                        <div class="span7 text-center" style="position:relative;">
                           <img src="../static/images/sensor_img.png" alt="传感器的接入" style="width:97%; margin-top:10px;" class="sensor-in-img lazy" data-original="../static/images/sensor_img.png"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fulid" style="background:#20639b; padding-bottom:40px; position:relative; overflow:hidden;">
         <img src="../static/images/view_bg.png" style="width:100%; position:absolute; left:0px; bottom:0;" class="sensor-in-img lazy"">
         <div class="container">
             <div class="screen-view" id="view">
                 <img src="../static/images/view_img.png" style="width:91px; height:64px; margin:0 auto; display:block;">         
                 <div class="view-title" style="width:100px;">可视化</div>
                 <div class="view-cont">直观清晰、简洁大气的可视化界面面</div>
                <div id="sequence-theme">
                    <div id="sequence">
                        <img class="sequence-prev" src="../static/images/bt-prev.png" />               
                        <img class="sequence-next" src="../static/images/bt-next.png" />            
                        
                        <ul class="sequence-canvas">
                            <li>
                                <span class="product main">
                                    <img src="../static/images/screen-img.png"/>                
                                </span>
                                <h2>新倾角数据显示</h2>
                            </li>
                            <li>
                                <span class="product main">
                                    <img src="../static/images/carousel3.jpg" alt="Cupcake" />                
                                </span>
                                <h2>挠度数据显示</h2>
                            </li>
                            <li>
                                <span class="product main">
                                    <img src="../static/images/carousel1.jpg" alt="Cupcake" />                
                                </span>
                                <h2>竖向位移数据显示</h2>
                            </li>
                        </ul>

                    </div>
                </div> 
             </div>
         </div>
        </div>

        <div class="container-fulid" style="padding-bottom:90px;">
            <div class="container" style="overflow:hidden;">
                <div class="warning-monitor" id="warning">
                    <img src="../static/images/label-arrow.png" style="width:91px; height:64px; margin:0 auto; display:block;">
                    <div class="sensor-title">预警监控</div>
                    <div class="sensor-cont">报警监控，第一时间进行维护修改</div>
                    <div class="row-fluid" style="margin-top:30px;">
                        <div class="span7 text-center">
                            <img src="../static/images/warning-img.png"style="width:95%" class="lazy warning-img" data-original="../static/images/warning-img.png">
                        </div> 
                        <div class="span5 warning-text" >
                            <p>自定义通知来告知您的资料随着我国城市电网建设速度加快，对电网运行管理控制水平的不断提高....</p>
                            <p style="margin-top:75px;">警报可以收到通过电子邮件和短信。</p>
                            <p style="margin-top:113px;">添加自定义信息包括时间，阈值，和事件数据链接。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fulid" style="background:#dcdcdc; padding-bottom:70px; position:relative; overflow:hidden;">
         <img src="../static/images/analyse_bg.png" style="width:100%; position:absolute; left:0px; bottom:0;">
            <div class="container">
                <div class="sensor-in" id="analyse">
                    <img src="../static/images/label-arrow.png" style="width:91px; height:64px; margin:0 auto; display:block;">
                    <div class="sensor-title" style="">分析数据</div>
                    <div class="sensor-cont">数据分析与整理</div>
                    <div class="row-fluid">
                        <div class="span6 sensor-text" style="padding-top:2%;">
                            <span>数据分析 </span>
                            是指用适当的统计分析方法对收集来的大量数据进行分析，提取有用信息和形成结论而对数据加以详细研究和概括总结的过程。这一过程也是质量管理体系的支持过程。在实用中，数据分析可帮助人们作出判断，以便采取适当行动。
                            <button class="btn btn-success btn-lg">注册进入</button>
                        </div>
                        <div class="span6 text-center" style="position:relative;">
                            <img alt="数据分析" data-original="../static/images/analyse_img.png"  style="width:100%" class="lazy sensor-in-img"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot">
            <div class="container">
                <a href="javascript:void(0);">公司网站</a> 
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p >
                    地址：    北京市上地东路盈创动力大厦E座801座
                    <br/>                            
                    电话：    010-5885 6680
                    <br/>                            
                    传真：    010-5885 6685
                    <br/>                            
                    邮箱：    contact@smartbow.net
                    <br/>                            
                </p>
                <p>
                    地址：    江苏省无锡市滨湖区建筑西路777号A3号楼3层
                    <br/>                            
                    电话：    0510-81801999
                    <br/>                            
                    传真：    0510-818019998
                    <br/>                            
                    邮箱：    contact@smartbow.net
                    <br/>                            

                </p>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>
        <script type="text/javascript" src="../static/js/unslider.min.js"></script> <!-- banner -->
        <script type="text/javascript" src="../static/js/jquery.sequence-min.js"></script> <!-- 可视化数据切换 -->
        <script src="../static/js/jquery.lazyload.js"></script> <!-- 延迟加载图片 -->
        <script>
            function imgReload()
            {
                var imgHeight = 0;
                var wtmp = $("body").width();
                $("#b06 ul li").each(function(){
                    $(this).css({width:wtmp + "px"});
                });
                $(".sliderimg").each(function(){
                    $(this).css({width:wtmp + "px"});
                    imgHeight = $(this).height();
                });
            }

            $(window).resize(function(){imgReload();});

            $(document).ready(function(e) {
                imgReload();
                var unslider06 = $('#b06').unslider({
                    dots: true,
                    fluid: true
                }),
                data06 = unslider06.data('unslider');
                
                $('.unslider-arrow06').click(function() {
                    var fn = this.className.split(' ')[1];
                    data06[fn]();
                });
            });

            $(window).on('scroll', function(){
                var top  = $(this).scrollTop(),
                    $btn = $('#scroll-to-top');

                if (top === 0) {
                    $btn.removeClass('visible');
                } else {
                    $btn.addClass('visible');
                }
            });

            $('#scroll-to-top').on('click', function(){
                $('html, body').animate({
                    scrollTop: '0px'
                });
            });

            $(document).ready(function() {
                var options = {
                    autoPlay: false,
                    nextButton: true,
                    prevButton: true,
                    pagination: true,
                    navigationSkip: false,
                    reverseAnimationsWhenNavigatingBackwards: false
                };

                var sequence = $("#sequence").sequence(options).data("sequence");

                $("#sequence .sequence-canvas").on("click", "li", function(e) {
                    sequence.nextFrameID = $(this).children(".product").size();
                    sequence.goTo(sequence.nextFrameID);
                });
            });
            
            $(document).ready(function(){
                $("img.lazy").lazyload({effect: "fadeIn"});
            });

        </script>
    </body>
</html>